body{
    background-color: peachpuff;
    margin: 2vw;
}

/*section-1*/

.first-section{
height:300px ;
margin: auto;
width: 92vw;


}
.first-img{
    width: 100%;
    height: 100%;
}

/*section-2*/

.section-2{
    height:300px ;
    width:92vw ;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    gap: 1vw;
    

}
.first-div{
    height: 300px;
    width: 30vw;
}
.imgdiv-2{
    height: 143px;
    width: 30vw;
    margin-bottom: 14px;
}
.imgdiv-3{
    height: 143px;
    width: 30vw;
}

/*section-3*/

.section-3{
    height:300px ;
    width:92vw ;
    margin: auto;
    display: flex;
    gap: 1vw; 
    
}
.imgdiv-4{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    height: 300px;
    width: 30vw;
    column-gap: .5vw;
    row-gap:.2vw ;
}
.last-img{
    height: 146.5px;
    width: 100%;
}
.last-1-img{
    height: 146.5px;
    width: 100%;
    margin-top: 0;
}
